%div{:"data-role" => "dialog", :"id" => "login-dialog"} 
  %div{:"data-role" => "header"}
    %h1
      Login
  %div{:"data-role" => "content"}
    #fb-root
      %p{:id => "fb-login-status"} Initializing Facebook Login
      .fb-login-button{id: "fb-login"} Login With Facebook
      .fb-login-button{id: "fb-logout"} Logout
      %a{:id => "fb-close-button", :"data-role" => "button"} Done
      :javascript
        $().initApp("initAuthDialog", "#login-dialog", {
            app_id: "#{locals[:app_id]}",
            scope: "#{locals[:scope]}"
          }
        );