.hallo {
  width: 100%;
}

.playImage {
	max-width:100%;
}

.ticket-indicator {
	padding: 0 5px !important;
}

.ticketModalImage {
	width:95%;
}

table.qrcode {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
 }
 
table.qrcode td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}
.black { background-color: #000; }
.white { background-color: #fff; }